<div class="container">
    <div class="row pt-5 mb-4">
        <div class="col-6">
            <h3 id="page-heading">
                <span jhiTranslate="resaMxWebApp.catEstado.home.title">Cat Estados</span>
            </h3>
        </div>
        <div class="col-6 text-right">
            <button id="jh-create-entity" class="btn btn-primary px-4 shadow-sm jh-create-entity create-cat-estado" [routerLink]="['/cat-estado/new']">
                <i class="mdi mdi-plus mr-2"></i>
                <span  jhiTranslate="resaMxWebApp.catEstado.home.createLabel">
                Create a new Cat Estado
                </span>
            </button>
        </div>
    </div>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    
    <div class="row mb-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                 <input type="text" class="form-control form-control-sm" [(ngModel)]="filterId" placeholder="Buscar {{'resaMxWebApp.catEstado.id'|translate}}"/>
                               </div>
                           </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                               <input type="text" class="form-control form-control-sm" [(ngModel)]="filterNombre" placeholder=" Buscar {{'resaMxWebApp.catEstado.nombre'|translate}}"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary btn-sm" (click)="onLimpiar()">Limpiar</button>
                            <button class="btn btn-primary btn-sm" (click)="onBuscar()">Buscar</button>
                        </div>
                    </div>
                    <div class="alert alert-warning" id="no-result" *ngIf="catEstados?.length === 0">
                        <span jhiTranslate="resaMxWebApp.catEstado.home.notFound">No catEstados found</span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive mb-5" id="entities" *ngIf="catEstados && catEstados.length > 0">
                                <table class="table" aria-describedby="page-heading">
                                    <thead>
                                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                                            <th scope="col"  jhiSortBy="id"><span jhiTranslate="resaMxWebApp.catEstado.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="resaMxWebApp.catEstado.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="resaMxWebApp.catEstado.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="pais.id"><span jhiTranslate="resaMxWebApp.catEstado.pais">Pais</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let catEstado of catEstados ;trackBy: trackId">
                                            <td><a [routerLink]="['/cat-estado', catEstado.id, 'view']">{{ catEstado.id }}</a></td>
                                            <td>{{ catEstado.nombre }}</td>
                                            <td>
                                                {{catEstado.usuario?.firstName + ' ' + catEstado.usuario?.lastName}}
                                            </td>
                                            <td>
                                                <div *ngIf="catEstado.pais">
                                                    <a [routerLink]="['/cat-pais', catEstado.pais?.id, 'view']" >{{ catEstado.pais?.nombre }}</a>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <button type="submit"
                                                        [routerLink]="['/cat-estado', catEstado.id, 'view']"
                                                        class="btn btn-outline-primary btn-sm px-2">
                                                        <i class="mdi mdi-eye mr-2"></i>
                                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                                </button>
                    
                                                <button type="submit"
                                                        [routerLink]="['/cat-estado', catEstado.id, 'edit']"
                                                        class="btn btn-outline-primary btn-sm px-2">
                                                        <i class="mdi mdi-pencil mr-2"></i>
                                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                                </button>
                    
                                                <button type="submit" (click)="delete(catEstado)"
                                                    class="btn btn-outline-primary btn-sm px-2">
                                                    <i class="mdi mdi-trash-can mr-2"></i>
                                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="catEstados && catEstados.length > 0" class="pt-5">
                                <div class="row justify-content-center mb-3">
                                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                </div>
                        
                                <div class="row justify-content-center">
                                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
