<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <div *ngIf="catEstado">
                <h3 class="mb-4 pb-2"><span jhiTranslate="resaMxWebApp.catEstado.detail.title">Cat Estado</span> {{ catEstado.id }}</h3>
    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <dl class="row jh-entity-details">
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catEstado.nombre">Nombre</span></dt>
                                        <dd>
                                            <span>{{ catEstado.nombre }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catEstado.usuario">Usuario</span></dt>
                                        <dd>
                                            {{catEstado.usuario?.firstName + ' ' + catEstado.usuario?.lastName}}
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catEstado.pais">Pais</span></dt>
                                        <dd>
                                            <div *ngIf="catEstado.pais">
                                                <a [routerLink]="['/cat-pais', catEstado.pais?.id, 'view']">{{ catEstado.pais?.nombre }}</a>
                                            </div>
                                        </dd>
                                    </div>
                                </dl>  
                                <jhi-alert-error></jhi-alert-error>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-outline-primary px-4">
                                        <i class="mdi mdi-arrow-left mr-2"></i><span jhiTranslate="entity.action.back">Back</span>
                                </button>
                    
                                <button type="button"
                                        [routerLink]="['/cat-estado', catEstado.id, 'edit']"
                                        class="btn btn-primary px-4">
                                        <i class="mdi mdi-pencil mr-2"></i><span jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                    </div>
                                </div>              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
