<div class="container">
    <div class="row pt-5 mb-4">
        <div class="col-6">
            <h3 id="page-heading">
                <span jhiTranslate="resaMxWebApp.catMoneda.home.title">Cat Monedas</span>
            </h3>
        </div>
        <div class="col-6 text-right">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cat-moneda" [routerLink]="['/cat-moneda/new']">
                <i class="mdi mdi-plus mr-2"></i>
                <span  jhiTranslate="resaMxWebApp.catMoneda.home.createLabel">
                Create a new Cat Moneda
                </span>
            </button>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    
    <div class="row mb-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="filterId" placeholder="Buscar {{'resaMxWebApp.catMoneda.id'|translate}}"/>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="filterNombre" placeholder="Buscar {{'resaMxWebApp.catMoneda.moneda'|translate}}"/>
                            </div>
                        </div>       
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control form-control-sm" [(ngModel)]="filterPais">
                                    <option [ngValue]="null">Seleccione un pa&iacute;s</option>
                                    <option [ngValue]="catPaisOption.id" *ngFor="let catPaisOption of catPaises;">
                                        {{catPaisOption.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                             <button class="btn btn-outline-primary btn-sm" (click)="onLimpiar()">Limpiar</button>
                             <button class="btn btn-primary btn-sm" (click)="onBuscar()">Buscar</button>
                        </div>
                    </div>
                    <jhi-alert></jhi-alert>
                    <div class="alert alert-warning" id="no-result" *ngIf="catMonedas?.length === 0">
                        <span jhiTranslate="resaMxWebApp.catMoneda.home.notFound">No catMonedas found</span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive mb-5" id="entities" *ngIf="catMonedas && catMonedas.length > 0">
                                <table class="table" aria-describedby="page-heading">
                                    <thead>
                                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                                            <th scope="col"  jhiSortBy="id"><span jhiTranslate="resaMxWebApp.catMoneda.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="moneda"><span jhiTranslate="resaMxWebApp.catMoneda.moneda">Moneda</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="resaMxWebApp.catMoneda.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="pais.id"><span jhiTranslate="resaMxWebApp.catMoneda.pais">Pais</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let catMoneda of catMonedas ;trackBy: trackId">
                                            <td><a [routerLink]="['/cat-moneda', catMoneda.id, 'view']">{{ catMoneda.id }}</a></td>
                                            <td>{{ catMoneda.moneda }}</td>
                                            <td>
                                                {{ catMoneda.usuario?.firstName + ' ' +  catMoneda.usuario?.lastName }}
                                            </td>
                                            <td>
                                                <div *ngIf="catMoneda.pais">
                                                    <a [routerLink]="['/cat-pais', catMoneda.pais?.id, 'view']" >{{ catMoneda.pais?.nombre }}</a>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                    <button type="submit"
                                                            [routerLink]="['/cat-moneda', catMoneda.id, 'view']"
                                                            class="btn btn-outline-primary btn-sm px-2">
                                                            <i class="mdi mdi-eye"></i>
                                                        <span class="d-none d-md-inline ml-2" jhiTranslate="entity.action.view">View</span>
                                                    </button>
                        
                                                    <button type="submit"
                                                            [routerLink]="['/cat-moneda', catMoneda.id, 'edit']"
                                                            class="btn btn-outline-primary btn-sm px-2">
                                                            <i class="mdi mdi-pencil"></i>
                                                        <span class="d-none d-md-inline ml-2" jhiTranslate="entity.action.edit">Edit</span>
                                                    </button>
                        
                                                    <button type="submit" (click)="delete(catMoneda)"
                                                    class="btn btn-outline-primary btn-sm px-2">
                                                    <i class="mdi mdi-trash-can"></i>
                                                        <span class="d-none d-md-inline ml-2" jhiTranslate="entity.action.delete">Delete</span>
                                                    </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                            <div *ngIf="catMonedas && catMonedas.length > 0" class="pt-5">
                                <div class="row justify-content-center mb-3">
                                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                </div>
                        
                                <div class="row justify-content-center">
                                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
