<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <div *ngIf="catMoneda">
                <h3 class="mb-4 pb-2"><span jhiTranslate="resaMxWebApp.catMoneda.detail.title">Cat Moneda</span> {{ catMoneda.id }}</h3>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <jhi-alert-error></jhi-alert-error>
                                <dl class="row jh-entity-details">
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMoneda.moneda">Moneda</span></dt>
                                        <dd>
                                            <span>{{ catMoneda.moneda }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMoneda.usuario">Usuario</span></dt>
                                        <dd>
                                            {{ catMoneda.usuario?.firstName + ' ' + catMoneda.usuario?.lastName }}
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMoneda.pais">Pais</span></dt>
                                        <dd>
                                            <div *ngIf="catMoneda.pais">
                                                <a [routerLink]="['/cat-pais', catMoneda.pais?.id, 'view']">{{ catMoneda.pais?.nombre }}</a>
                                            </div>
                                        </dd>
                                    </div>                                                                       
                                </dl>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-outline-primary px-4">
                                        <i class="mdi mdi-arrow-left mr-2"></i><span jhiTranslate="entity.action.back">Back</span>
                                        </button>
                        
                                        <button type="button"
                                                [routerLink]="['/cat-moneda', catMoneda.id, 'edit']"
                                                class="btn btn-primary px-4">
                                                <i class="mdi mdi-pencil mr-2"></i><span jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
