<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h3 id="jhi-cat-tipo-operacion-heading" jhiTranslate="resaMxWebApp.catTipoOperacion.home.createOrEditLabel" class="mb-4 pb-2">Create or edit a Cat Tipo Operacion</h3>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">                                
                                <div class="row">
                                    <jhi-alert-error></jhi-alert-error>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id" jhiTranslate="global.field.id">ID</label>
                                            <input type="text" class="form-control" id="id" name="id" formControlName="id" />
                                            <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="resaMxWebApp.catTipoOperacion.operacion" for="field_operacion">Operacion</label>
                                            <input type="text" class="form-control" name="operacion" id="field_operacion"
                                                formControlName="operacion"/>
                                            <div *ngIf="editForm.get('operacion')!.invalid && (editForm.get('operacion')!.dirty || editForm.get('operacion')!.touched)">
                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('operacion')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                                </small>
                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('operacion')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                                This field cannot be longer than 100 characters.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="resaMxWebApp.catTipoOperacion.descripcion" for="field_descripcion">Descripcion</label>
                                            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                                                formControlName="descripcion"/>
                                            <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
                                                <small class="form-text text-danger"
                                                    *ngIf="editForm.get('descripcion')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 150 }">
                                                This field cannot be longer than 150 characters.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="button" id="cancel-save" class="btn btn-outline-primary px-4" (click)="previousState()">
                                            <i class="mdi mdi-cancel mr-2"></i><span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>
                    
                                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary px-4">
                                            <i class="mdi mdi-plus mr-2"></i><span jhiTranslate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
