<div class="container">
    <div class="row pt-5 mb-4">
        <div class="col-6">
            <h3 id="page-heading">
                <span jhiTranslate="resaMxWebApp.catRiesgo.home.title">Cat Riesgos</span>
            </h3>
        </div>
        <div class="col-6 text-right">
            <button id="jh-create-entity" class="btn btn-primary px-4 shadow-sm jh-create-entity create-cat-riesgo" [routerLink]="['/cat-riesgo/new']">
                <i class="mdi mdi-plus mr-2"></i>
                <span  jhiTranslate="resaMxWebApp.catRiesgo.home.createLabel">
                Create a new Cat Riesgo
                </span>
            </button>            
        </div>        
    </div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="row mb-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>                                                                        
                    </div>
                    <div class="alert alert-warning" id="no-result" *ngIf="catRiesgos?.length === 0">
                        <span jhiTranslate="resaMxWebApp.catRiesgo.home.notFound">No catRiesgos found</span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive mb-5" id="entities" *ngIf="catRiesgos && catRiesgos.length > 0">
                                <table class="table" aria-describedby="page-heading">
                                    <thead>
                                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                                            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="riesgo"><span jhiTranslate="resaMxWebApp.catRiesgo.riesgo">Riesgo</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="resaMxWebApp.catRiesgo.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let catRiesgo of catRiesgos ;trackBy: trackId">
                                            <td><a [routerLink]="['/cat-riesgo', catRiesgo.id, 'view']">{{ catRiesgo.id }}</a></td>
                                            <td>{{ catRiesgo.riesgo }}</td>
                                            <td>
                                                {{ catRiesgo.usuario?.firstName + ' ' +  catRiesgo.usuario?.lastName }}
                                            </td>
                                            <td class="text-right">
                                                    <button type="submit"
                                                            [routerLink]="['/cat-riesgo', catRiesgo.id, 'view']"
                                                            class="btn btn-outline-primary btn-sm px-2">
                                                            <i class="mdi mdi-eye mr-2"></i>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                                    </button>
                        
                                                    <button type="submit"
                                                            [routerLink]="['/cat-riesgo', catRiesgo.id, 'edit']"
                                                            class="btn btn-outline-primary btn-sm px-2">
                                                            <i class="mdi mdi-pencil mr-2"></i>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                                    </button>
                        
                                                    <button type="submit" (click)="delete(catRiesgo)"
                                                    class="btn btn-outline-primary btn-sm px-2">
                                                    <i class="mdi mdi-trash-can mr-2"></i>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                                    </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                            <div *ngIf="catRiesgos && catRiesgos.length > 0" class="pt-5">
                                <div class="row justify-content-center mb-3">
                                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                </div>
                        
                                <div class="row justify-content-center">
                                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
