<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h3 id="jhi-cat-riesgo-heading" jhiTranslate="resaMxWebApp.catRiesgo.home.createOrEditLabel" class="mb-4 pb-2">Create or edit a Cat Riesgo</h3>
    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <jhi-alert-error></jhi-alert-error>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id" jhiTranslate="global.field.id">ID</label>
                                            <input type="text" class="form-control" id="id" name="id" formControlName="id" />
                                            <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
                                                 <small class="form-text text-danger"
                                                     *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
                                                     This field is required.
                                                 </small>                        
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="resaMxWebApp.catRiesgo.riesgo" for="field_riesgo">Riesgo</label>
                                            <input type="text" class="form-control" name="riesgo" id="field_riesgo"
                                                   formControlName="riesgo"/>
                                            <div *ngIf="editForm.get('riesgo')!.invalid && (editForm.get('riesgo')!.dirty || editForm.get('riesgo')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('riesgo')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                                </small>
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('riesgo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>
                                    </div>                                                                        
                                </div>    
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="button" id="cancel-save" class="btn btn-outline-primary px-4" (click)="previousState()">
                                            <i class="mdi mdi-cancel mr-2"></i><span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>
                        
                                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary px-4">
                                            <i class="mdi mdi-plus mr-2"></i><span jhiTranslate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
