<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <div *ngIf="catNacionalidad">
                <h3 class="mb-4 pb-2"><span jhiTranslate="resaMxWebApp.catNacionalidad.detail.title">Cat Nacionalidad</span> {{ catNacionalidad.id }}</h3>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <jhi-alert-error></jhi-alert-error>
                                <dl class="row jh-entity-details">
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catNacionalidad.nacionalidad">Nacionalidad</span></dt>
                                        <dd>
                                            <span>{{ catNacionalidad.nacionalidad }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catNacionalidad.usuario">Usuario</span></dt>
                                        <dd>
                                            {{ catNacionalidad.usuario?.id }}
                                        </dd>
                                    </div>
                                </dl>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-outline-primary px-4">
                                        <i class="mdi mdi-arrow-left mr-2"></i><span jhiTranslate="entity.action.back">Back</span>
                                </button>
                
                                <button type="button"
                                        [routerLink]="['/cat-nacionalidad', catNacionalidad.id, 'edit']"
                                        class="btn btn-primary px-4">
                                        <i class="mdi mdi-pencil mr-2"></i><span jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
