<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <div *ngIf="catMunicipio">
                <h3 class="mb-4 pb-2"><span jhiTranslate="resaMxWebApp.catMunicipio.detail.title">Cat Municipio</span> {{ catMunicipio.id }}</h3>
    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <dl class="row jh-entity-details">
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMunicipio.nombre">Nombre</span></dt>
                                        <dd>
                                            <span>{{ catMunicipio.nombre }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMunicipio.clave">Clave</span></dt>
                                        <dd>
                                            <span>{{ catMunicipio.clave }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMunicipio.usuario">Usuario</span></dt>
                                        <dd>
                                            {{ catMunicipio.usuario?.firstName + ' ' +  catMunicipio.usuario?.lastName }}
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catMunicipio.estado">Estado</span></dt>
                                        <dd>
                                            <div *ngIf="catMunicipio.estado">
                                                <a [routerLink]="['/cat-estado', catMunicipio.estado?.id, 'view']">{{ catMunicipio.estado?.nombre }}</a>
                                            </div>
                                        </dd>
                                    </div>
                                </dl>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-outline-primary px-4">
                                        <i class="mdi mdi-arrow-left mr-2"></i><span jhiTranslate="entity.action.back">Back</span>
                                </button>
                    
                                <button type="button"
                                        [routerLink]="['/cat-municipio', catMunicipio.id, 'edit']"
                                        class="btn btn-primary px-4">
                                        <i class="mdi mdi-pencil mr-2"></i><span jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
