<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="datosUsuario">
            <h2><span jhiTranslate="resaMxWebApp.datosUsuario.detail.title">Datos Usuario</span> {{ datosUsuario.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resaMxWebApp.datosUsuario.puesto">Puesto</span></dt>
                <dd>
                    <span>{{ datosUsuario.puesto }}</span>
                </dd>
                <dt><span jhiTranslate="resaMxWebApp.datosUsuario.fechaAct">Fecha Act</span></dt>
                <dd>
                    <span>{{ datosUsuario.fechaAct }}</span>
                </dd>
                <dt><span jhiTranslate="resaMxWebApp.datosUsuario.sucursal">Sucursal</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.sucursal">
                        <a [routerLink]="['/cat-sucursal', datosUsuario.sucursal?.id, 'view']">{{ datosUsuario.sucursal?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resaMxWebApp.datosUsuario.user">User</span></dt>
                <dd>
                    {{ datosUsuario.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/datos-usuario', datosUsuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
