<div>
    <h2 id="page-heading">
        <span jhiTranslate="resaMxWebApp.datosUsuario.home.title">Datos Usuarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-datos-usuario" [routerLink]="['/datos-usuario/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="resaMxWebApp.datosUsuario.home.createLabel">
            Create a new Datos Usuario
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="datosUsuarios?.length === 0">
        <span jhiTranslate="resaMxWebApp.datosUsuario.home.notFound">No datosUsuarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="datosUsuarios && datosUsuarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="puesto"><span jhiTranslate="resaMxWebApp.datosUsuario.puesto">Puesto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaAct"><span jhiTranslate="resaMxWebApp.datosUsuario.fechaAct">Fecha Act</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sucursal.id"><span jhiTranslate="resaMxWebApp.datosUsuario.sucursal">Sucursal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="resaMxWebApp.datosUsuario.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datosUsuario of datosUsuarios ;trackBy: trackId">
                    <td><a [routerLink]="['/datos-usuario', datosUsuario.id, 'view']">{{ datosUsuario.id }}</a></td>
                    <td>{{ datosUsuario.puesto }}</td>
                    <td>{{ datosUsuario.fechaAct | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="datosUsuario.sucursal">
                            <a [routerLink]="['/cat-sucursal', datosUsuario.sucursal?.id, 'view']" >{{ datosUsuario.sucursal?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ datosUsuario.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/datos-usuario', datosUsuario.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/datos-usuario', datosUsuario.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(datosUsuario)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="datosUsuarios && datosUsuarios.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
