<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <div *ngIf="catPais">
                <h3 class="mb-4 pb-2"><span jhiTranslate="resaMxWebApp.catPais.detail.title">Cat Pais</span> {{ catPais.id }}</h3>    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                    <dl class="row jh-entity-details">
                                        <div class="col-md-4">
                                            <dt><span jhiTranslate="resaMxWebApp.catPais.nombre">Nombre</span></dt>
                                            <dd>
                                                <span>{{ catPais.nombre }}</span>
                                            </dd>
                                        </div>
                                        <div class="col-md-4">
                                            <dt><span jhiTranslate="resaMxWebApp.catPais.codigoA2">Codigo A 2</span></dt>
                                            <dd>
                                                <span>{{ catPais.codigoA2 }}</span>
                                            </dd>
                                        </div>
                                        <div class="col-md-4">
                                            <dt><span jhiTranslate="resaMxWebApp.catPais.codigoA3">Codigo A 3</span></dt>
                                            <dd>
                                                <span>{{ catPais.codigoA3 }}</span>
                                            </dd>
                                        </div>
                                        <div class="col-md-4">
                                            <dt><span jhiTranslate="resaMxWebApp.catPais.usuario">Usuario</span></dt>
                                            <dd>
                                                {{catPais.usuario?.firstName + ' ' + catPais.usuario?.lastName}}
                                            </dd>
                                        </div>
                                    </dl>
                                    <jhi-alert-error></jhi-alert-error>

                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-outline-primary px-4">
                                        <i class="mdi mdi-arrow-left mr-2"></i><span jhiTranslate="entity.action.back">Back</span>
                                </button>
                    
                                <button type="button"
                                        [routerLink]="['/cat-pais', catPais.id, 'edit']"
                                        class="btn btn-primary px-4">
                                        <i class="mdi mdi-pencil mr-2"></i><span jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>
