<div class="bg-home">
    <div class="container">
        <div class="row pt-5 mb-4">
            <div class="col-12 mb-3">
                <h3>Bienvenido al panel de administración</h3>
            </div>
            <div class="col-12">
                <p class="subtitle">Te mostramos algunas de las funciones más frecuentes:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>Clientes</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/content/images/icnClient.svg">
                            </div>
                            <div class="col-7 pr-0">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="mdi mdi-account-plus mr-2"></i>Crear nuevo cliente</a></li>
                                    <li><a href="#"><i class="mdi mdi-account-minus mr-2"></i>Eliminar clientes</a></li>
                                    <li><a href="#"><i class="mdi mdi-account-edit mr-2"></i>Editar clientes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>Información</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/content/images/icnFile.svg">
                            </div>
                            <div class="col-7 pr-0">
                                <a href="#" class="text-nowrap">Expedientes de clientes</a>
                                <p class="mt-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>   
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>Información</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/content/images/icnMov.svg">
                            </div>
                            <div class="col-7 pr-0">
                                <a href="#">Movimientos</a>
                                <p class="mt-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>  
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>Administración</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/content/images/icnMetric.svg">
                            </div>
                            <div class="col-7 pr-0">
                                <a routerLink="/admin/metrics">Métricas</a>
                                <p class="mt-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>  
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>Administración</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/content/images/icnAudi.svg">
                            </div>
                            <div class="col-7 pr-0">
                                <a routerLink="/admin/audits">Auditorías</a>
                                <p class="mt-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>  
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>Administración</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/content/images/icnLogs.svg">
                            </div>
                            <div class="col-7 pr-0">
                                <a href="#">Logs</a>
                                <p class="mt-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>                                                
        </div>
    </div>
</div>
