<div class="container">
    <div class="row pt-5 mb-2">
        <div class="col-12">
            <div *ngIf="catLocalidad">
                <h3 class="mb-4 pb-2"><span jhiTranslate="resaMxWebApp.catLocalidad.detail.title">Cat Localidad</span> {{ catLocalidad.id }}</h3>
    
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <dl class="row jh-entity-details">
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catLocalidad.nombre">Nombre</span></dt>
                                        <dd>
                                            <span>{{ catLocalidad.nombre }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catLocalidad.clave">Clave</span></dt>
                                        <dd>
                                            <span>{{ catLocalidad.clave }}</span>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catLocalidad.usuario">Usuario</span></dt>
                                        <dd>
                                            {{ catLocalidad.usuario?.firstName + ' ' + catLocalidad.usuario?.lastName }}
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catLocalidad.estado">Estado</span></dt>
                                        <dd>
                                            <div *ngIf="catLocalidad.estado">
                                                <a [routerLink]="['/cat-estado', catLocalidad.estado?.id, 'view']">{{ catLocalidad.estado?.nombre }}</a>
                                            </div>
                                        </dd>
                                    </div>
                                    <div class="col-md-4">
                                        <dt><span jhiTranslate="resaMxWebApp.catLocalidad.municipio">Municipio</span></dt>
                                        <dd>
                                            <div *ngIf="catLocalidad.municipio">
                                                <a [routerLink]="['/cat-municipio', catLocalidad.municipio?.id, 'view']">{{ catLocalidad.municipio?.nombre }}</a>
                                            </div>
                                        </dd>
                                    </div>
                                </dl>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-outline-primary px-4">
                                        <i class="mdi mdi-arrow-left mr-2"></i><span jhiTranslate="entity.action.back">Back</span>
                                        </button>
                    
                                <button type="button"
                                        [routerLink]="['/cat-localidad', catLocalidad.id, 'edit']"
                                        class="btn btn-primary px-4">
                                        <i class="mdi mdi-pencil mr-2"></i><span jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>    
            </div>
        </div>
</div>
