@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* sarabun-regular - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sarabun-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url('../fonts/sarabun-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/sarabun-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/sarabun-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/sarabun-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/sarabun-v7-latin-regular.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-500 - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sarabun-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url('../fonts/sarabun-v7-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/sarabun-v7-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/sarabun-v7-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/sarabun-v7-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/sarabun-v7-latin-500.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-700 - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sarabun-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url('../fonts/sarabun-v7-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/sarabun-v7-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/sarabun-v7-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/sarabun-v7-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/sarabun-v7-latin-700.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-600 - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sarabun-v7-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url('../fonts/sarabun-v7-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/sarabun-v7-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/sarabun-v7-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/sarabun-v7-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/sarabun-v7-latin-600.svg#Sarabun') format('svg'); /* Legacy iOS */
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4,
h6 {
  font-family: 'Sarabun';
  font-weight: 700;
}

h3,
h5 {
  color: #3e4e50;
}

h6 {
  color: #4da1a9;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #404c38;
  font-size: 14px;
  text-decoration: underline;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.border-5 {
  border-radius: 5px;
}

form a {
  color: #7eaa60;
  font-weight: 400;
}

input[type='text'],
input[type='password'] {
  background: #f2f6ef;
  border: none;
  border-radius: 4px;
  color: #879082;
  font-weight: 500;
}

.form-control {
  background-color: #f2f6ef !important;
  color: #879082 !important;
  border: 1px solid #f2f6ef !important;
  font-weight: 500 !important;
}

.custom-file-label {
  background-color: #f2f6ef !important;
  color: #879082 !important;
  border: 1px solid #f2f6ef !important;
  font-weight: 500 !important;
}

.fw-m {
  font-weight: 500;
}

body {
  font-family: 'Sarabun';
  background: #f5f6f6;
}

.navbar a.nav-link {
  text-decoration: none !important;
  font-weight: 600 !important;
}

.dropdown-item {
  text-decoration: none;
}

.bgLog {
  background: url('../images/bgLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.footer {
  border: none;
}

.footer p {
  color: #bababa !important;
  font-size: 14px;
}

.user-name {
  background: url('../images/icnUser.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.bg-home {
  background: url('../images/bgHome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.subtitle {
  color: #3e4e50;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 400;
}

.btn-primary {
  color: #fff;
}

.table thead th {
  border-bottom: 1px solid #fff;
  border-top: none;
  color: #4da1a9;
  font-weight: 500;
}

.table {
  font-weight: 400;
}

.table a {
  color: #7eaa60;
  text-decoration: none;
}

tbody {
  font-size: 14px;
}

.info .jhi-item-count {
  color: red;
}

.page-txt {
  color: #7eaa60;
  font-weight: 400;
  font-size: 14px;
}

.page-item {
  margin: 0 4px;
}

.page-item.active .page-link {
  color: #404c38;
  background-color: #d7e8ba;
  border-color: #d7e8ba;
  text-decoration: none;
  border-radius: 4px;
}

.page-item.disabled .page-link {
  background-color: #fff;
  border-color: #bcdc87;
  color: #ffa630;
  text-decoration: none;
  border-radius: 4px;
}

.page-link {
  background-color: #fff;
  border-color: #bcdc87;
  color: #ffa630;
  text-decoration: none;
  border-radius: 4px;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}

ngx-select {
  display: inline-block !important;
}

ngx-select.form-control {
  padding: 0;
}

dd {
  font-weight: 400;
  color: grey;
}

.nav-tabs {
  border-bottom: 1px solid #f2f6ef;
}

.nav-tabs .nav-link {
  text-decoration: none;
  font-size: 16px;
}

.nav-tabs .nav-link:hover {
  border-color: #f2f6ef #f2f6ef #f2f6ef;
}

.nav-tabs .nav-link.active {
  color: #3e4e50;
  background-color: #f2f6ef;
  border-color: #f2f6ef #f2f6ef #f2f6ef;
}

.cont-height {
  min-height: 54vh;
  height: auto;
}

.sk-ball-spin-clockwise {
  background-image: url('../../content/images/loader.gif');
  background-size: contain;
}

.sk-ball-spin-clockwise > div {
  display: none !important;
}

.custom-file-label::after {
  content: '\F0552';
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  font: normal normal normal 24px/1 'Material Design Icons';
  font-size: 16px;
  line-height: inherit;
}

.c-blue {
  color: #4da1a9 !important;
  text-decoration: underline !important;
}
